# MongoDB Configuration
# Production MongoDB
MONGO_USER_PROD=your_prod_user
MONGO_PASSWORD_PROD=your_prod_password
MONGO_HOSTS_PROD=10.2.3.41:27017,10.2.4.41:27017,10.2.5.41:27017
MONGO_REPLICA_SET_PROD=rs0
MONGO_DB_NAME_PROD=Cluster0

# Staging MongoDB
MONGO_USER_STAGE=your_stage_user
MONGO_PASSWORD_STAGE=your_stage_password
MONGO_HOSTS_STAGE=10.3.3.41:27017,10.3.4.41:27017,10.3.5.41:27017
MONGO_REPLICA_SET_STAGE=rs0
MONGO_AUTH_SOURCE_STAGE=admin
MONGO_DB_NAME_STAGE=Cluster0

# PostgreSQL Configuration
POSTGRES_HOST=10.2.3.22
POSTGRES_PORT=5432
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DATABASE=master

# Appium Configuration
APPIUM_SERVER_URL=http://localhost:4723
MOBILE_DEVICE_NAME=your_device_name
MOBILE_PLATFORM_VERSION=16

# Telegram Bot (для уведомлений)
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Environment (prod, stage, dev)
ENVIRONMENT=prod
